.card-item-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ccc;
    position: relative;
}
.card-item-container .card-item-img-container {
    width: 100%;
    height: 80%;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.card-item-container:hover .card-item-container-cart {
    opacity: 1;
}
.card-item-container .card-item-img:hover {
    transform: scale(1.2);
}
.card-item-container-cart {
    z-index: 1000;
    color:white;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color:var(--primary-color) ;
    border-radius: 50%;
    transition: all linear 0.2s;
    opacity: 0;
}

.card-item-container .card-item-img-container .mask:hover{
    opacity: 0.2;
}

.card-item-container .card-item-img-container .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color: black;
    opacity: 0;
    transition: all linear 0.2s;
}
.card-item-container .card-item-img {
    width: 100%;
    height: 100%;
}
.card-item-container .card-item-bottom {
    padding: 12px 24px;
    justify-content: space-around;
    background-color: white;
}
.card-item-container .card-item-title {
    color: black;
}
.card-item-container .card-item-title:hover {
    color: var(--primary-color);
}
 
.card-item-container .card-item-price {
    color: var(--primary-color);
}
.card-item-container .card-item-price:hover {
    color: var(--focus-color);
}